<div id="abc" class="test">Ha Dat</div>
<span id="def">Hihi</span>
<style>
    .test {
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 50%;
        border: 2px solid black;
        /*font-size: 20px;*/
        color: black;
        text-align: center;
        background: none;
    }
</style>
<script>
    $(document).ready(function(){
      $("#abc, #def").click(function(){
        $("#abc, #def").toggleClass("test");
      });
    });
</script>
